<!-- addQuote.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Quote/Items</title>
    <link rel ="stylesheet" href="/style.css">
</head>
<body>
   
<div class="container">
    <h1>Add Quote/Item</h1>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLl5RFBWd70u8xNBu3mBTfHBq-Y1TzCuXJ5w&s" class="img-fluid mb-3" alt="Placeholder image" width="150" height="125">
    <form action="/addQuote" method="post">

        <label for="ref_num">Reference Number:</label>
        <input type="text" name="ref_num" required><br>

        <label for="bill_title">Bill Title:</label>
        <input type="text" name="bill_title" required autocomplete="off"><br>

        <div class= "form-group">
            <label for="descriptions"> Description:</label>
            <input type="text" name="descriptions" id="descriptions" placeholder="Description" required autocomplete="off"> </input>
        </div>

        <label for="install_difficulty">Installation Difficulty Factor:</label>
        <select id="install_difficulty" name="install_difficulty" required>
            <option value="" disabled selected>Select a Installation Difficulty Factor</option>
            <% installDifficultyTypes.forEach(type => { %>
                <option value="<%= type.install_difficulty %>"><%= type.install_difficulty %></option>
            <% }); %>
        </select> <br>

        <label for="sla_mla">SLA & MSS Period in Months:</label>
        <select id="sla_mla" name="sla_mla" required>
            <option value="" disabled selected>Select a SLA & MSS</option>
            <% slaMlaTypes.forEach(type => { %>
                <option value="<%= type.sla_mla %>"><%= type.sla_mla %></option>
            <% }); %>
        </select> <br>

        <label for="maintain_visit">Number of Preventative Maint. Visits per annum:</label>
        <input type="text" name="maintain_visit" required autocomplete="off"><br>

        <label for="validate_num_days">Proposal Validity in Days:</label>
                                <select id="validate_num_days" name="validate_num_days" required>
                                    <option value="" disabled selected>Select a Validity in days</option>
                                    <% validateNumTypes.forEach(type => { %>
                                        <option value="<%= type.validate_num_days %>"><%= type.validate_num_days %></option>
                                    <% }); %>
                                </select> <br>
        
        <label for="stock_code">Stock Code:</label>
        <input type="text" name="stock_code" required autocomplete="off"><br>

        <label for="stock_qty">Stock Quantity:</label>
        <input type="text" name="stock_qty" required autocomplete="off"><br>
        
        <label for="unit_cost">Unit Cost:</label>
        <input type="text" name="unit_cost" required autocomplete="off"><br>
        
        <label for="product_type">Select Product Type:</label>
        <select id="product_type" name="product_type" required>
            <option value="" disabled selected>Select a Product</option>
            <% productTypes.forEach(type => { %>
                <option value="<%= type.Description %>"><%= type.Description %></option>
            <% }); %>
        </select>
        <label for="equip_margin">Equipment Margin:</label>
        <input type="text" name="equip_margin" required autocomplete="off"><br>
        <label for="labour_margin">Labour Margin:</label>
        <input type="text" name="labour_margin" required autocomplete="off"><br>
        <label for="labour_hrs">Labour Hours:</label>
        <input type="text" name="labour_hrs" required autocomplete="off"><br>
        <label for="maintenance_hrs">Maintenance Hours:</label>
        <input type="text" name="maintenance_hrs" required autocomplete="off"><br>  
        <label for="supplier">Supplier:</label>
        <select id="supplier" name="supplier" required>
            <option value="" disabled selected>Select a supplier</option>
            <% supplyTypes.forEach(type => { %>
                <option value="<%= type.supplier %>"><%= type.supplier %></option>
            <% }); %>
        </select>
        <button type="submit" formaction="/addItem">Add Item!</button>
        <button type="submit">Add Quote!</button>
    </form>
</div>
<script src="/js/over.js"></script>
</body>
</html>
