<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview!</title>
    <link href="index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid pt-5 mt-3">
        <% users.forEach(user => { %>
        <div class="row">
            <div class="col-md-5">
                <div class="card-sidebar">
                    <div class="card-body">
                        <table class="inner-table">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center;">Project Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Job Description</td>
                                    <td colspan="3"> <input> </input></td>
                                </tr>
                                <tr>
                                    <td>Customer Name</td>
                                    <td><%= user.customer_name %></td>
                                </tr>
                                <tr>
                                    <td>Customer Contact Person</td>
                                    <td colspan="3"><%= user.customer_call_person %></td>
                                </tr>
                                <tr>
                                    <td>E-mail Address</td>
                                    <td colspan="3"> <%= user.customer_email %></td>
                                </tr>
                                <tr>
                                    <td>Date:</td>
                                    <td colspan="3"><%= new Date().toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                                </tr>
                                <tr>
                                    <td>Sale's Person</td>
                                    <td colspan="3"><%= user.saleName %></td>
                                </tr>
                            </tbody>
                            <thead> <tr>
                                <th colspan="2" style="text-align: center;">Total</th>
                            </tr></thead>
                           <tbody>
                            <tr>
                                <td>Total Selling Price</td>
                                <td><strong>R <%= total_sell_project.toFixed(2) %></strong></td>
                            </tr>
                            <tr>
                                <td>Total Selling Price inc. VAT</td>
                                <td><strong>R <%= total_sell_with_vat.toFixed(2) %></strong></td>
                            </tr>
                            <tr>
                                <td>Total Cost</td>
                                <td><strong>R <%= total_cost_project.toFixed(2) %></strong></td>
                            </tr>
                            <tr>
                                <td>Total Gross Profit</td>
                                <td><strong> R <%= total_gross_profit.toFixed(2) %></strong></td>
                            </tr>
                            <tr>
                                <td>Actual Gross Margin %</td>
                                <td>
                                    <% 
                                      let marginColor = '';
                                      if (actualGrossMargin < 15) {
                                        marginColor = 'red';
                                      } else if (actualGrossMargin >= 15 && actualGrossMargin <= 20) {
                                        marginColor = 'orange';
                                      } else {
                                        marginColor = 'green';
                                      }
                                    %>
                                    <div 
                                      style="padding: 10px; color: white; background-color: <%= marginColor %>; border-radius: 5px;">
                                      <%= actualGrossMargin.toFixed(2) %>%
                                    </div>                                  
                                  </td>                                      
                            </tr>
                           </tbody>
                        </table>

                        <table >
                            <thead>
                                <th
                                colspan="2" style="text-align: center;">Hourly Cost Rates
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <div id="hoursDisplay">Associated Factor <td><span id="hoursValue"></span></td>  </div> </td>
                                </tr>
                                <tr>
                                    <td>Installation Difficulty</td>
                                    <td>
                                        <div class="form-group">
                                            <select id="descriptionDropdown">
                                                <option value="">Select an install difficulty</option>
                                                <% installDifficultyTypes.forEach(item => { %>
                                                    <option value="<%= item._id %>"><%= item.install_difficulty %></option>
                                                <% }); %>
                                            </select>                                            
                                        </div>
                                    </td>
                                </tr>
                                                              
                                <tr>
                                    <td>SLA & MSS Period in Months</td>
                                    <td> <div class="form-group">
                                        <select id="sla_mla" name="sla_mla" required>
                                            <option value="" disabled selected>Select a SLA & MSS</option>
                                            <% slaMlaTypes.forEach(type => { %>
                                                <option value="<%= type.sla_mla %>"><%= type.sla_mla %></option>
                                            <% }); %>
                                        </select>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>Number of Preventative Maint. Visits per annum</td>
                                    <td><input> </input></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card-main">
                    <div class="card-body">
                        <table class="inner-table">
                            <thead>
                                <tr>
                                    <th colspan="9" style="text-align: center;">Sales Breakdown</th>
                                </tr>
                                <tr>
                                    <th>Quoted Sections</th>
                                    <th>Cost</th>
                                    <th></th>
                                    <th>Sell</th>
                                    <th></th>
                                    <th>GM %</th>
                                    <th></th>
                                    <th>% of Project</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Equipment Cost</td>
                                    <td>R <%= totalEquipCost.toFixed(2) %></td>
                                    <td></td>
                                    <td>R <%= totalEquipSell.toFixed(2) %></td>
                                    <td></td>
                                    <td><%= gmEquip.toFixed(2) %>%</td>
                                    <td></td>
                                    <td><%= projectPercentEquip.toFixed(2) %>%</td>
                                </tr>
                                <tr>
                                    <td>Equipment Installation Cost</td>
                                    <td>R <span id="total_labour_cost"><%= parseFloat(total_labour_cost).toFixed(2) %></span></td>
                                    <td></td>
                                    <td>R <span id="total_labour_sell"><%= parseFloat(total_labour_sell).toFixed(2) %></span></td>
                                    <td></td>
                                    <td><%= gmLabour.toFixed(2) %>%</td>
                                    <td></td>
                                    <td><%= projectPercentLabour.toFixed(2) %>%</td>
                                </tr>
                                <tr>
                                    <td>P & G's</td>
                                    <td>R</td>
                                    <td></td>
                                    <td>R</td>
                                    <td></td>
                                    <td><%= gmSundries.toFixed(2) %>%</td>
                                    <td></td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td>Sundries and Consumables</td>
                                    <td>R <%= total_cost_sundries.toFixed(2) %></td>
                                    <td></td>
                                    <td>R <%= total_sell_sundries.toFixed(2) %></td>
                                    <td></td>
                                    <td><%= gmProjectManagement.toFixed(2) %>%</td>
                                    <td></td>
                                    <td><%= projectPercentSundries.toFixed(2) %>%</td>
                                </tr>
                                <tr>
                                    <td>Project Management</td>
                                    <td>R <%= total_cost_project_management.toFixed(2) %></td>
                                    <td></td>
                                    <td>R <%= total_sell_project_management.toFixed(2) %></td>
                                    <td></td>
                                    <td><%= gmProjectManagement.toFixed(2) %>%</td>
                                    <td></td>
                                    <td><%= projectPercentProjectManagement.toFixed(2) %>%</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>R <%= total_cost_project.toFixed(2) %></td>
                                    <td></td>
                                    <td>R <%= total_sell_project.toFixed(2) %></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
            
                        <hr>
            
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center;">Hours</th>
                                    <th colspan="2" style="text-align: center;">Project Days</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Project Management Hours</td>
                                    <td>...</td>
                                    <td>Project Days...</td>
                                    <td><strong><%= projectDays.toFixed(2) %></strong></td>
                                </tr>
                                <tr>
                                    <td>Installation Hours</td>
                                    <td><strong><%= totalLabourHrs %></strong></td>
                                    <td>Weeks...</td>
                                    <td><strong><%= projectWeeks.toFixed(2) %></strong></td>
                                </tr>
                                <tr>
                                    <td>Proposal Validity in days</td>
                                    <td>
                                        <div class="form-group">
                                            <select id="validate_num_days" name="validate_num_days" required>
                                                <option value="" disabled selected>Select a Validity in days</option>
                                                <% validateNumTypes.forEach(type => { %>
                                                    <option value="<%= type.validate_num_days %>"><%= type.validate_num_days %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
            
                        <hr>
            
                        <form action="checkbox" method="POST">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2" style="text-align: center;">Include the following modules</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="quote1" name="quote1" value="MSS">
                                            <label for="quote1">MSS</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" id="quote5" name="quote5" value="offset">
                                            <label for="quote5">Offset Mon</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="quote2" name="quote2" value="SLA">
                                            <label for="quote2">SLA</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" id="quote6" name="quote6" value="scarfaceLive">
                                            <label for="quote6">Scarface live</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="quote3" name="quote3" value="monResp">
                                            <label for="quote3">Mon & Resp</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" id="quote7" name="quote7" value="mobile">
                                            <label for="quote7">SF Mobile</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="quote4" name="quote4" value="vidFied">
                                            <label for="quote4">VideoFied</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" id="quote8" name="quote8" value="ajax">
                                            <label for="quote8">AJAX</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
              
    </div>
    <div class="footer">
        <footer class="container d-flex justify-content-between align-items-center">
            <div>
                <a href="/">Back to Home</a>
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="me-2">Admin</button>
                <button type="button">Print BOQ</button>
            </div>
        </footer>
    </div>    
    <% }) %>
    </div>
    <script>
         document.getElementById('descriptionDropdown').addEventListener('change', async function() {
        const selectedId = this.value;
        if (selectedId) {
            const response = await fetch(`/api/descriptions/${selectedId}`);
            const data = await response.json();
            document.getElementById('hoursValue').innerText = data.factor; 
        } else {
            document.getElementById('hoursValue').innerText = '';
        }
    });
    </script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
